/* Aplicar estilos globais */
#app-body {
    display: flex; /* Habilita flexbox no body */
    flex-direction: column; /* Coloca os elementos em coluna */
    justify-content: flex-start; /* Começa no topo */
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* Garante altura mínima de 100% da janela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}

header {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    text-align: center; /* Centraliza o texto */

}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
    border-top: 8px solid red; /* Espessura do loader */
    border-bottom: 8px solid blue;
    border-left: 8px solid rgba(243, 243, 243, 0.4); /* 50% de opacidade */
    border-right: 8px solid rgba(243, 243, 243, 0.4); /* 50% de opacidade */
    border-radius: 50%; /* Torna o loader circular */
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%); /* Centralização */
    z-index: 9999;
    width: 10vw; /* Tamanho proporcional à largura da tela */
    height: 10vw; /* Tamanho proporcional à largura da tela */
    max-width: 100px; /* Limita o tamanho máximo */
    max-height: 100px; /* Limita o tamanho máximo */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Para telas muito pequenas (ex.: celulares) */
@media (max-width: 768px) {
    .loader {
        width: 15vw; /* Aumenta o tamanho proporcionalmente */
        height: 15vw;
        left: 50%;
    }
}


/* Estilo para o título principal */
header h1 {
    margin-top: 10px; /* Reduz o espaço acima do título */
    margin-bottom: 0px; /* Reduz o espaço abaixo do título */
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 1.3;
    font-weight: bold; /* Mantém o título destacado */
    text-align: center; /* Centraliza o título */
}

header form {
    margin: 0; /* Remove margens padrão */
    display: flex; /* Garante que o botão use flexbox */
    justify-content: center; /* Centraliza o conteúdo do botão */
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre o avatar e o texto */
    margin: 10px;
}

.avatar-medium {
    border-radius: 50%; /* Torna o avatar redondo */
    width: 40px; /* Ajusta o tamanho do avatar */
    height: 40px;
    overflow: hidden;
}

.author-text {
    margin: 0;
    font-size: 14px;
}

/* Estilo do botão Clone Deck */
header .btn-clone {
    align-items: center; /* Centraliza verticalmente o ícone e o texto */
    justify-content: center; /* Centraliza horizontalmente o texto e o ícone */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito para o texto */
    text-transform: uppercase; /* Texto em letras maiúsculas */
    color: white; /* Cor do texto */
    background-color: #00796b; /* Cor de fundo */
    border: none; /* Remove bordas padrão */
     /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de clique */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: background-color 0.3s ease; /* Transição suave ao hover */
}

/* Efeito ao passar o mouse */
.btn-clone:hover {
    background-color: #004d40 !important; /* Cor mais escura no hover */
}

/* Ícone dentro do botão */
.btn-clone .material-icons {
    font-size: 18px; /* Tamanho do ícone */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}


/* Container principal que engloba os elementos centrais */
#background-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Permite que o conteúdo expanda verticalmente */
    width: 100%; /* Usa toda a largura disponível */

}

/* Container principal que engloba o flashcard e a lista */
#main-container {
    margin-left: 0px;
    transition: margin-left 0.3s ease; /* Transição suave */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Permite que o conteúdo expanda verticalmente */
    width: 100%; /* Usa toda a largura disponível */
    box-sizing: border-box;

}



#selected-flashcard {
    display: flex; /* Flexbox para centralizar o conteúdo */
    font-size: 1rem; /* Tamanho do texto */
    line-height: 1; /* Alinha a altura da linha com o texto */
    margin: 5px 0;
    padding: 10px;
    text-align: center; /* Centraliza horizontalmente o texto */
    vertical-align: middle; /* Alinha verticalmente o texto */
    cursor: pointer; /* Mostra o cursor ao passar o mouse */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#selected-flashcard p {
    margin: 0; /* Remove margens padrão do <p> */
    padding: 0; /* Remove padding do <p> */
    line-height: 1.4; /* Garante um espaçamento adequado entre as linhas */
    text-align: center; /* Centraliza o texto horizontalmente */
    display: block; /* Garante que seja tratado como um bloco */
}

#selected-flashcard.no-difficulty {
    background-color: #f0f0f0; /* Cinza claro */
    color: #333; /* Texto escuro */
    text-decoration: none;
    display: block;

    border-style: solid;
    border-width: 2px;
    border-color: #333;
}


#selected-flashcard.easy {
    background-color: #c3e6cb; /* Verde claro */
    color: #155724;
    text-decoration: none;
    display: block;

    border-style: solid;
    border-width: 2px;
    border-color: #155724;
}

#selected-flashcard.medium {
    background-color: #ffeeba; /* Amarelo claro */
    color: #856404;
    text-decoration: none;
    display: block;

    border-style: solid;
    border-width: 2px;
    border-color: #856404;
}

#selected-flashcard.hard {
    background-color: #f8d7da; /* Vermelho claro */
    color: #721c24;
    text-decoration: none;
    display: block;

    border-style: solid;
    border-width: 2px;
    border-color: #721c24;
}




/* Flashcard container com tamanho mínimo */
#flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Altura fixa para os cartões */
    width: 100%; /* Ocupa toda a largura disponível */
    min-height: 300px; /* Garante altura mínima para dispositivos menores */
    margin: 20px auto; /* Centraliza horizontalmente */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    overflow: hidden; /* Evita que o conteúdo ultrapasse o container */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
}

/* Flashcard */
.flashcard {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Estados de flip */
.flashcard.flipped {
    transform: rotateY(180deg); /* Rotaciona em Y para mostrar o verso */
}

/* Estilo comum dos dois lados do Flashcard */
.card-blue,
.card-red {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustar a centralização vertical e horizontal nos flashcards */
.card-blue p, .card-red p {
    font-size: 1rem; /* Define o tamanho menor */
    line-height: 1.4; /* Ajusta o espaçamento entre linhas */
    color: #ffffff; /* Mantém a cor branca */
    text-align: center; /* Centraliza horizontalmente o texto */
    margin: 0; /* Remove margens que podem desalinhar */
    overflow-wrap: break-word; /* Permite quebra de palavras longas */
    display: flex; /* Habilita flexbox no elemento */
    justify-content: center; /* Centraliza horizontalmente o texto */
    align-items: center; /* Centraliza verticalmente o texto */
    height: 100%; /* Garante que o elemento ocupe todo o espaço disponível */
}

/* Lado azul (Question) */
.card-blue {
    background-color: #3498db;
    border: 2px solid #0056b3;
}

/* Lado vermelho (Answer) */
.card-red {
    background-color: #e74c3c;
    border: 2px solid #a71d2a;
}

.card-blue p, .card-red p {
    font-size: 1rem; /* Define o tamanho menor */
    line-height: 1.4; /* Ajusta o espaçamento entre linhas */
    color: #ffffff; /* Mantém a cor branca */
    text-align: center; /* Centraliza o texto */
    margin: 10px 20px; /* Adiciona espaçamento ao redor */
    overflow-wrap: break-word; /* Permite quebra de palavras longas */
}

.flashcard-media {
    display: flex;
    justify-content: center;
    align-items: center;


}

#question-media, #answer-media {
    display: block; /* Visível por padrão */
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa toda a largura disponível */
    min-height: 300px; /* Garante altura mínima para dispositivos menores */
    margin: 20px auto; /* Centraliza horizontalmente */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    overflow: hidden; /* Evita que o conteúdo ultrapasse o container */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

#answer-media {
    display: none;
}



.difficulty-info
{
    margin: 5px;
    padding: 5px;
    font-size: 0.8rem; /* Tamanho menor para o subtítulo */
    text-align: center; /* Centraliza o subtítulo */
}


#difficulty-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
}


/* Contêiner flexível para dificuldade */
#difficulty-container {
    display: flex;
    justify-content: space-between; /* Espaçamento uniforme entre os botões */
    gap: 15px; /* Espaçamento entre os botões */
    width: 100%; /* Largura total */
    max-width: 500px; /* Largura máxima */
}

/* Estilo comum para os botões */
#difficulty-container button {
    flex: 1; /* Todos os botões ocupam o mesmo espaço */
    padding: 10px 0; /* Espaçamento interno vertical */
    font-size: 1rem; /* Tamanho do texto */
    line-height: 1; /* Alinha a altura da linha com o texto */
    text-align: center; /* Centraliza horizontalmente o texto */
    vertical-align: middle; /* Alinha verticalmente o texto */
    border: none; /* Remove bordas padrão */
     /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor ao passar o mouse */
    display: flex; /* Configura flexbox no botão */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    transition: background-color 0.3s ease; /* Animação para hover */
}

/* Botão verde (Easy) */
#difficulty-buttons button.easy {
background-color: #4CAF50; /* Verde */
}

#difficulty-buttons button.easy:hover {
background-color: #45a049;
}

/* Botão amarelo (Medium) */
#difficulty-buttons button.medium {
background-color: #FF9800; /* Amarelo */
}

#difficulty-buttons button.medium:hover {
background-color: #e68a00;
}

/* Botão vermelho (Hard) */
#difficulty-buttons button.hard {
background-color: #F44336; /* Vermelho */
}

#difficulty-buttons button.hard:hover {
background-color: #d32f2f;
}


/* Define uma largura mínima para evitar botões muito pequenos */
#difficulty-container button {
    min-width: 100px; /* Define uma largura mínima */
    max-width: 150px; /* Limita a largura máxima */
}

/* Destaque para o botão selecionado */
button.highlight {
    border: 3px solid #000 !important; /* Bordas brancas para destaque */
    box-shadow: 0 3px 10px #fff; /* Brilho ao redor */
    font-weight: bold; /* Texto mais forte */
    transform: scale(1.1); /* Aumenta ligeiramente o botão */
    transition: transform 0.2s, box-shadow 0.2s; /* Transição suave */
}


/* Contêiner principal dos botões */
#button-container {
display: flex;
justify-content: center; /* Centraliza o contêiner */
margin: 20px 0; /* Espaçamento acima e abaixo */
}

/* Contêiner para os botões de navegação */
#navigation-buttons {
display: flex;
gap: 15px; /* Espaçamento entre os botões */
width: 100%; /* Ocupa a largura total */
max-width: 500px; /* Largura máxima para layout */
justify-content: center; /* Centraliza os botões */
}


/* Botões individuais */
.navigation-button {
    -webkit-font-smoothing: auto;
    -moz-appearance: none;
    background-color: var(--w-color-surface-button-default);
    border: 1px solid var(--w-color-surface-button-default);
    border-radius: .1875rem;
    color: var(--w-color-text-button);
    font-size: .875rem;
    font-weight: 400;
    height: 2.25em;
    line-height: calc(2.25em - 2px);
    outline-offset: 3px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: background-color .1s ease;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;




    display: inline-flex; /* Ícones e texto em linha flexível */
    align-items: center; /* Alinha ícones e texto verticalmente */
    justify-content: center; /* Centraliza o conteúdo */
    font-size: 16px; /* Tamanho da fonte */
    padding: 10px 16px; /* Espaçamento interno */
    flex: 1; /* Botões ocupam espaço uniforme */

    color: white; /* Cor do texto */
    cursor: pointer; /* Muda o cursor no hover */
    transition: background-color 0.3s ease; /* Transição suave no hover */
    min-width: 120px; /* Define uma largura mínima */
}

/* Ícones dentro dos botões */
.navigation-button .material-icons {
    font-size: 20px; /* Tamanho dos ícones */
    margin-right: 8px; /* Espaçamento entre ícone e texto */
    vertical-align: middle; /* Alinha ícones verticalmente com texto */
}

/* Remove margem direita do ícone no botão "Next" */
#next-button .material-icons {
margin-right: 0;
}

/* Hover nos botões */
.navigation-button:hover {
    background-color: #004d40; /* Cor mais escura no hover */
}




.btn-clone {
    background-color: #01579b;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;

    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.btn-clone:hover {
    background-color: #217dbb; /* Cor mais escura no hover */
}

.btn-clone .material-icons {
    font-size: 14px; /* Ajuste o tamanho desejado */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}



/* Estilo para flashcards sem dificuldade */
li.no-difficulty a {
    background-color: #f0f0f0; /* Cinza claro */
    color: #333; /* Texto escuro */
    text-decoration: none;
    display: block;
    padding: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: #186076;
}

li.no-difficulty a:hover {
    background-color: #dcdcdc; /* Cinza mais escuro ao passar o mouse */
    color: #000;
}



/* Painel lateral */

.side-panel {
    position: fixed;
    top: 0;
    right: -400px; /* Inicialmente fora da tela à direita */
    width: 300px;
    height: 100%;
    background-color: #2e1f5e;
    color: white;
    transition: right 0.3s ease; /* Transição ao abrir/fechar */
    z-index: 1000;
    padding: 10px;
    overflow-y: auto;
}

/* Painel lateral aberto */
.side-panel.open {
    left: 0; /* Tornar visível */
}

/* Quando o menu lateral está aberto */
.side-panel.open ~ #main-container {
    margin-left: 300px; /* Ajuste para acomodar o menu */

}

/* Botão de fechar (dentro do painel lateral) */
.close-btn {
    position: absolute; /* Fixa o botão dentro do painel */
    top: 10px; /* Ajuste a distância do topo */
    right: 10px; /* Ajuste a distância da borda direita */
    font-size: 24px; /* Tamanho da fonte */
    background: none; /* Sem fundo */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    background-color: #2e1f5e;
    cursor: pointer; /* Indica que é clicável */
    display: none; /* Oculto por padrão */
    z-index: 1100; /* Garante que fique acima de outros elementos */
    padding: 5px; /* Padding interno para clique mais fácil */
}

/* Botão de abrir (fora do painel lateral) */
.open-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background-color: #2e1f5e;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 1100;
}

/* Quando o painel está aberto */
.side-panel.open ~ .open-btn {
    display: none; /* Oculta o botão "☰ Menu" */
}

.side-panel.open .close-btn {
    display: block; /* Exibe o botão "×" */
}


/* Estilos Responsivos */
@media (max-width: 768px) {
    /* Mostrar o botão de abrir */
    .open-btn {
        display: block;
    }
}

@media (min-width: 769px) {
    /* Manter o painel sempre visível em telas maiores */
    .side-panel {
    right: 0; /* Mover para o lado direito */
    width: 300px;
    }

    .open-btn {
        display: none; /* Ocultar o botão de abrir */
    }

    #main-container {
    margin-left: 10px;
    margin-right: 300px;/* Desloca o conteúdo principal para o lado */
    transition: margin-left 0.3s ease; /* Transição suave */
    }
}



/* Lista de Flashcards */
#flashcards-list {
    list-style: none; /* Remove os marcadores padrão */
    padding: 0;
    margin: 0;
    z-index: 1100;
}


ul {
    list-style-type: none;
    padding: 0;
}

#flashcards-list li {
    margin: 5px 0;

    cursor: pointer;
}

#flashcards-list li.easy a {
    background-color: #c3e6cb; /* Verde claro */
    color: #155724;
    text-decoration: none;
    display: block;
    padding: 10px;

    transition: border-color 0.3s, background-color 0.3s; /* Transições suaves */
    border-style: solid;
    border-width: 2px;
    border-color: #155724;
}

#flashcards-list li.easy a:hover {
    background-color: #8dd09c; /* Verde mais escuro */
    transition: border-color 0.3s, background-color 0.3s; /* Aumenta ligeiramente */
}

#flashcards-list li.medium a {
    background-color: #ffeeba; /* Amarelo claro */
    color: #856404;
    text-decoration: none;
    display: block;
    padding: 10px;

    transition: border-color 0.3s, background-color 0.3s;
    border-style: solid;
    border-width: 2px;
    border-color: #856404;
}

#flashcards-list li.medium a:hover {
    background-color: #ffe08a; /* Amarelo mais escuro */
    transition: border-color 0.3s, background-color 0.3s;
}

#flashcards-list li.hard a {
    background-color: #f8d7da; /* Vermelho claro */
    color: #721c24;
    text-decoration: none;
    display: block;
    padding: 10px;

    transition: border-color 0.3s, background-color 0.3s;
    border-style: solid;
    border-width: 2px;
    border-color: #721c24;
}

#flashcards-list li.hard a:hover {
    background-color: #f5c6cb; /* Vermelho mais escuro */
    transition: border-color 0.3s, background-color 0.3s;
}

#flashcards-list li.selected a {
    transition: border-color 0.3s, background-color 0.3s;
    font-weight: bold;
}

#flashcards-list li.selected a:hover {

    transition: border-color 0.3s, background-color 0.3s;
}

#flashcards-list li.no-difficulty a {
    background-color: #f0f0f0; /* Cinza claro */
    color: #333; /* Texto escuro */
    text-decoration: none;
    display: block;
    padding: 10px;

    transition: border-color 0.3s, background-color 0.3s;
}

#flashcards-list li.no-difficulty a:hover {
    background-color: #dcdcdc; /* Cinza mais escuro */
    transition: border-color 0.3s, background-color 0.3s;
}


