{% extends "wagtailadmin/admin_base.html" %}
{% load i18n wagtailadmin_tags %}
{% load allauth i18n %}
{% block titletag %}
    {% trans "Sign up" %}
{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <h1>{% block branding_login %}{% trans "Sign up to MemorAI" %}{% endblock %}</h1>

        <div class="messages" role="status">
            {# Always show messages div so it can be appended to by JS #}
            {% if messages or form.errors %}
                <ul>
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block above_login %}{% endblock %}

        <form class="signup-form" action="{% url 'account_signup' %}" method="post" autocomplete="off" novalidate>
        {% block login_form %}
            {% csrf_token %}

            {% block fields %}
                {% for field in form %}
                    <div class="field-wrapper">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="help-text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {{ redirect_field }}
            {% endblock %}
        {% endblock %}

            <footer class="form-actions">
                {% block submit_buttons %}
                    <button
                        type="submit"
                        class="button button-longrunning"
                        data-controller="w-progress"
                        data-action="w-progress#activate"
                        data-w-progress-active-value="{% trans 'Signing up…' %}"
                    >
                        {% icon name="spinner" %}
                        <em data-w-progress-target="label">{% trans 'Sign up' %}</em>
                    </button>
                {% endblock %}
            </footer>
        </form>

        {% block below_login %}{% endblock %}

        {% block branding_logo %}
            <div class="login-logo">
                {% include "wagtailadmin/logo.html" with wordmark="True" %}
            </div>
        {% endblock %}
    </main>
{% endblock %}
