ul li.easy a {
    background-color: #d4edda; /* Verde claro */
    color: #155724;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

ul li.medium a {
    background-color: #ffeeba; /* Amarelo claro */
    color: #856404;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

ul li.hard a {
    background-color: #f8d7da; /* Vermelho claro */
    color: #721c24;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

ul li a:hover {
    opacity: 0.8;
}
